/* General Styles */
:root {
  --darkGray: #333;
  --lightGray: #444444;
  --orangeColor: #f99500;
  --white: #fff;
  --lightWhite: #f3f3f3;
  --red: #c72727;
  --iconColor: #777;
  --maxWidth: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
}

body {
  font-family: 'Lato', sans-serif;
  background: var(--lightWhite);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Staatliches', cursive;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

i {
  color: var(--iconColor);
}

/* Utilities */
.container {
  max-width: var(--maxWidth);
  padding: 2rem 2rem;
  margin: auto;
}

.btn {
  padding: 0.5rem 2rem;
  border: none;
}

.currentPage {
  background: var(--red);
  color: var(--white);
}

.category {
  --sportsColor: #a8967b;
  --entColor: #a66bbe;
  --techColor: #009cff;
}

.categorySports {
  background: var(--sportsColor);
}

/* Navbar */
nav {
  position: sticky;
  top: 0;
  left: 0;
  background: var(--white);
}

nav .container {
  display: grid;
  grid-template-areas: 'logo logo socialIcons list';
  grid-gap: 1rem;
}

nav .container img {
  grid-area: logo;
  width: 18rem;
  margin-right: 21.5rem;
}
nav .container .socialIcons {
  grid-area: socialIcons;
  margin: auto 0rem;
  /* margin-right: 5rem; */
  text-align: right;
}

.socialIcons a {
  margin-right: 0.7rem;
  font-size: 1rem;
}

.socialIcons i {
  margin: auto 0;
}

/* nav.socialIcons a:first-child {
  margin-left: 30rem;
} */

nav .container ul {
  grid-area: list;
  margin: auto 0;
}

nav .container ul li {
  display: inline-block;
  margin: 0 0.5rem;
}

nav .container ul li a {
  padding: 0.95rem;
  font-weight: bold;
  font-size: 1.5rem;
}

nav .container ul li a:hover {
  background: var(--lightGray);
  color: var(--lightWhite);
}

/* Showcase */
.showcase:before {
  content: '';
  background: url('../images/featured.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
}

.showcase {
  height: 37rem;
  background: rgba(0, 0, 0, 0.5);
}

.showcase .container {
  text-align: left;
  color: var(--white);
  overflow: auto;
}

.showcase .container p {
  font-size: 1.7rem;
}

.showcase .container span {
  background: var(--orangeColor);
  padding: 1rem;
  border-radius: 5rem;
}

.container h2 {
  margin-top: 1.5rem;
  font-size: 3rem;
}

.showcase .container div {
  margin: auto 0rem;
}

.showcase .container .categorySports,
.showcase .container p,
.showcase .container h2 {
  margin-bottom: 1.5rem;
}

.showcase .btn {
  background: var(--red);
  color: var(--white);
}

.showcase .container div {
  width: 45%;
}

/* Footer */
footer {
  background: var(--darkGray);
  color: var(--white);
  overflow: auto;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'logoArea emailNewsletter siteLinks joinClub'
    'paragraph paragraph paragraph paragraph';
  grid-gap: 5rem;
  text-align: left;
}

.container p {
  font-size: 1.5rem;
}

.container h3 {
  font-size: 2rem;
}

.container .emailNewsletter input {
  padding: 0.7rem 0rem;
  margin: 1rem auto;
}

.container .emailNewsletter button {
  background: var(--red);
  border: none;
  color: var(--white);
  padding: 0.8rem 6rem;
  width: 100%;
}

.siteLinks ul li {
  padding: 1rem 0rem;
  font-size: 1.5rem;
}

.container .joinClub h3 {
  font-size: 2.3rem;
}

.joinClub p {
  margin-bottom: 2.5rem;
}

.joinClub a {
  color: var(--white);
  background: var(--orangeColor);
  padding: 1.3rem 2.5rem;
  font-size: 1.5rem;
}

footer .container ul li {
  border-bottom: 0.2rem dotted var(--lightGray);
}

.logoArea img {
  width: 15rem;
}

.logoArea {
  grid-area: logoArea;
}

.emailNewsletter {
  grid-area: emailNewsletter;
}

.siteLinks {
  grid-area: siteLinks;
}

.joinClub {
  grid-area: joinClub;
}

footer .container > p {
  background: var(--lightGray);
  grid-area: paragraph;
  padding: 1.5rem;
  text-align: center;
}
